doctype  html
doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Natours | #{tour}
        link(rel='stylesheet' href='css/style.css')
        link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    body
        h1= tour
        h2= user.toUpperCase()
        //- h1 The Park Camper
        //- Unbuffer code 
        - const x = 9;
        h2= 2+x
        p This is just some text